mypy

eventlet
python-socketio
python-dotenv
pydantic
pydantic[email]
pyjwt
jsonref
pydantic-to-typescript
eventlet
# py_writes_ts  # For now I use a local editable install with pip install -e .
regex
types-regex
pydantic[mypy]
Babel
pytest
sqlalchemy
sqlalchemy[mypy]
clerk-backend-api==2.2.0
py-writes-ts==1.0.1
psycopg2-binary
alembic
