@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2F0A23;
  --background-highlight: #3F1B3A;
  --foreground: #171717;
  --text: #FFFFFF;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Mononoki';
  src: url('/fonts/mononoki-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mononoki';
  src: url('/fonts/mononoki-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mononoki';
  src: url('/fonts/mononoki-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Mononoki';
  src: url('/fonts/mononoki-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}